.Contact{
    height: 40vh;
    
  }
  .contact-item{
    text-align: center;
    color: black;
  }
  
  .contact-title{
    padding: 20px;
  }
  
  .contact-container{
    display:flex;
    justify-content: center; 
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .email, .phone, .github{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border: 1px solid black;
    
  }